*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,Helvetica,Arial,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
}
/* nav{
    width: 100vw;
} */
.topHead{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    margin-left: 10vw;
}
.head-options{
    width: 50vw;
    margin-right: 8vw;
}

.head-options ul{
   
    display: flex;
    justify-content: space-between;
    

}
.head-options select{
    border: none;
    font-size: 0.8vw;
    font-weight: 600;
    color: #5E5E5E;
}
.head-options option{
    border-radius: 0px;

    font-size: 0.8vw;
    font-weight: 600;
    color: #5E5E5E;

}
.head-options a{
    font-size: 0.8vw;
    font-weight: 600;
    color: #5E5E5E;


}
.banner{
    height: 34vw;
    width: 100%;
    background-image: url(./image/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.overlay{
    width: 36vw;
    text-align: center;
    position: relative;
    margin-top: 4vw;
    
}
.title{
    margin-bottom: -3vw;
}
.title p{
    font-family: "WindSong", cursive;
    font-size: 8vh;
}
.title span{
    font-family: "WindSong", cursive;
    font-size: 15vh;
}

.para p{
    line-height: 1.6vw;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.clicks1 button{
    padding: 0.5vw;
    font-size: 0.8vw;
    font-weight: 700;
    color: white;
    background-color: #f4a9a6;
    border: none;
    border-radius: 1vw;
}
.clicks2 button{
    padding: 0.5vw;
    font-size: 0.8vw;
    font-weight: 700;
    color: white;
    background-color: #b7cde8;
    border: none;
    margin-left: 1vw;
    border-radius: 1vw;
}

/* section 2 */

.recent{
    width: 55vw;
    height: 29vw;

}
.recent1{
    width: 100%;
    height: 6vw;

    display: flex;
    margin-bottom: 1vw;
}
.recent2{
    width: 100%;
    height: 6vw;

    display: flex;
   
}
.recentcontent1{
    width: 22vw;
    height: 100%;
    display: flex;
    background-color: white;
    border-radius: 1vw;
    margin-left: 5vw;
    border-color: #333333;
    box-shadow: 0 2px 10px -6px rgba(0, 0, 0, .3);
}
.pic1{
    width: 9.1vw;
    height: 100%;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-image: url(./image/col1.jpg);
    background-size: cover;
}
.pic2{
    width: 9.1vw;
    height: 100%;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-image: url(./image/col2.jpeg);
    background-size: cover;
}
.pic3{
    width: 9.1vw;
    height: 100%;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-image: url(./image/col3.jpg);
    background-size: cover;
}
.pic4{
    width: 9.1vw;
    height: 100%;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-image: url(./image/col4.jpeg);
    background-size: cover;
}
.recentcontent2{
    width: 22vw;
    height: 100%;
    display: flex;
    margin-left: 1vw;
    background-color: white;
    border-radius: 1vw;
    border-color: #333333;
    box-shadow: 0 2px 10px -6px rgba(0, 0, 0, .3);
}
.recent .recendheading{
    text-align: center;
    font-family:  "WindSong", cursive;
    font-size: 8vh;
    font-weight: 100;

 
}
.recent .recendheading span{
    font-size: 4.7vh;
    margin-left: 2vw;
    background-color: #f48885;
    color: white;
    font-weight: 700;
    padding: 0.5vw;
}

.recent h3{
    font-size: 2.3vh;
    color: #5E5E5E;
    text-align: center;
    margin-top: 1vw;
}
.vlog{
 
    width: 25vw;
    margin-top: 1vw;
}
.vlog p{
    font-family:  "WindSong", cursive;
    font-size: 8vh;
    font-weight: 100;
    text-align: center;
}
.vlogvd iframe{
    width: 25vw;
    height: 13vw;
}
.vlog span{
    font-size: 4.7vh;
    margin-left: 0.4vw;
    background-color: #f48885;
    color: white;
    font-weight: 700;
    padding: 0.5vw;
}
.vlog h3{
    font-size: 2.3vh;
    color: #5E5E5E;
    text-align: center;
    margin-top: 1vw;
}


/* destination */
.destination {
    width: 100%;
    height: 44vh;


}
.destination p{
    font-family:  "WindSong", cursive;
    font-size: 8vh;
    font-weight: 100;
    text-align: center;
    padding-top: 5vh;
}
.destination span{
    font-size: 4.7vh;
    margin-left: 0.4vw;
    background-color: #f48885;
    color: white;
    font-weight: 700;
    padding: 0.5vw;
}
.maps{
    height: 18vh;
    justify-content: center;
    margin-top: -4vh;
    background-image: url(./image/route.png);
    background-size: cover;
}
.map1{
    width: 9vw;
    height: 10vh;
    margin-top: 6vh;
}
.map1 img{
    width: 100%;
    height: 100%;
}
.country-name{
    width: 100%;
    text-align: center;
    margin-top: 1vw;
    color: #5E5E5E;
    font-weight: 600;
}


/* popular post */

.popular{
    height: 55vh;
    /* margin-bottom: 5vw; */
}
.popular ,.popularhead{
    font-family:  "WindSong", cursive;
    font-size: 8vh;
    font-weight: 100;
    text-align: center;
    padding-top: 5vh;
}
.popular span{
    font-size: 4.7vh;
    margin-left: 0.4vw;
    background-color: #f48885;
    color: white;
    font-weight: 700;
    padding: 0.5vw;
}
.posts{
    display: flex;
    height: 30vh;

    justify-content: center;
    
}

.inner1{
    width: 20vw;
    height: 25vh;
    margin: 1vw;
    background-image: url(./image/post1.jpg);
    background-size: cover;
    border-radius: 1vw;
    display: flex;justify-content: center;
    align-items: center;

    

}
.inner2{
    width: 20vw;
    height: 25vh;
    margin: 1vw;
    background-image: url(./image/post2.jpg);
    background-size: cover;
    border-radius: 1vw;
    display: flex;justify-content: center;
    align-items: center;
}
.inner3{
    width: 20vw;
    height: 25vh;
    margin: 1vw;
    background-image: url(./image/post3.jpg);
    background-size: cover;
    border-radius: 1vw;
    display: flex;justify-content: center;
    align-items: center;
}
.inner4{
    width: 20vw;
    height: 25vh;
    margin: 1vw;
    background-image: url(./image/post4.jpg);
    background-size: cover;
    border-radius: 1vw;
        display: flex;justify-content: center;
    align-items: center;
}
.innertext{
 font-size: 16px;
 color: white;
 font-weight: 600; 
 letter-spacing: 2px;
 text-shadow: .08em .08em 0em rgba(0, 0, 0, .4);


}
.innerpara{
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: .08em .08em 0em rgba(0, 0, 0, .4);  
}

/* second last section */

.secondlast-sect{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
}
.borderline{
    width: 50vw;
    height: 4vh;
    border-top: 1px solid black;
}
.outerlogo{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;

}
.logos{
    width: 70vw;
    height: 7vh;

    display: flex;
}
.logotext{
    width: 15vw;
    height: 100%;

}
.logotext a p{
    font-size: 2.6vh;
    font-weight: 600;
    color: #5E5E5E;
    text-align: center;
    margin-top: 0.7vw;
}
.logopic{
    width: 40vw;
    height: 100%;
    background-image: url(./image/logo.jpg);
    background-size: cover;

}
/* footer */
.foot-section{
    background-color: #f8f8f8;
    height: 40vh;
}
.upper{
    display: flex;
    justify-content: center;
}
.upper1{
    width: 16vw;
    height: 20vh;
    margin-top: 20px;

}
.foot-logo img{
    width: 16vw;
    height: 13vh;
}
.icons{
    height: 8vh;
}
.iconsList{
    width: 16vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    font-size: 20px;

}
.iconsList a{
    font-size: 12px;
    margin-top: 10px;
    margin: 5px;
}
.upper2{
    width: 20vw;
    height: 28vh;
    padding-top: 19px;
    

}
.upper22  p{
    text-align: center;
    padding: 0;
    margin: 3px;
    font-size: 12px;
    color: #5E5E5E;
   
}
.upper22 h3{
    color: #5E5E5E;
    font-size: 3.1vh;
    font-weight: 600;
    text-align: center;
}
.upper3{
    width: 32vw;
    height: 28vh;
    padding: 20px;
}
.upper3 h3{
    color: #5E5E5E;
    font-size: 3.1vh;
    font-weight: 600;
    text-align: center;

}
.upper33 p{
    font-size: 12px;
    color: #5E5E5E;
    text-align: center;
}
.upper33 input{
    width: 100%;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    height: 4vh;
    margin-bottom: 4px;
}
.upper33 button{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #f48885;
    color: white;
    font-weight: 700;

}
.upper33{
    width: 25vw;
    height: 24vh;
    border-left: 1px solid;
    padding-left: 25px;

}
.upper22{
    width: 22vw;
    height: 24vh;
    border-left: 1px solid;
    
}