*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,Helvetica,Arial,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* nav{
    width: 100vw;
} */
.topHead{
    height: 15vh;
    display: flex;
    align-items: center;
}
.heading{
    width: 200vw;
    height: 10vh;
    padding-left: 8vw;
}
.head-options{
    width: 400vw;
}
.head-options ul{
   
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
}
.head-options select{
    border: none;
}
.head-options option{
    border-radius: 0px;
}
